

.body {

  background-image: url("cool.jpg");
}
  
.description{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: bold;

  
  

}

.gender{

font-size: medium;
font-style: oblique

}

.form{

  font-size: medium;


}

.footer{

  font-size: medium;


}